<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- header.html 연결 -->
	<div th:replace="~{/layout/header::header-fragment}"></div>

	<div id="container">
		<section class="index">
			<h2>MyHome에 오셨습니다...</h2>
			<div class="main-img">
		    	<img th:src="@{/images/1.jpg}" alt="theater">
		    </div>
		    <div class="menu">
		    	<a th:href="@{/main}">메인페이지</a>&nbsp; &nbsp;
		    	<a th:href="@{/member/join}">회원가입</a>&nbsp; &nbsp;
		    	<a th:href="@{/member/list}">회원목록</a>&nbsp; &nbsp;
		    	<a th:href="@{/board/list}">글목록</a>&nbsp; &nbsp;
		    	<a th:href="@{/auth/main}">인증메인</a>&nbsp; &nbsp;
		    </div>
		    
		    <div>
		    	<h1>오늘의 날씨</h1>
				    <h3 class="result">
				        <!-- 20240125(날짜), 0600(발표시각), -9.1(온도) -->
				    </h3>
		    </div>
	    </section>
	</div>
	
	<!-- footer.html 연결 -->
	<div th:replace="~{/layout/footer::footer-fragment}"></div>
	
	<script src="/js/weather.js"></script>
</body>
</html>